.nav {
  backdrop-filter: blur(6px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  top: 0;
  z-index: 2;
}

.nav .menu-icon {
  display: none;
}

.nav img {
  width: 5rem;
  height: 5rem;
}

.nav-menu {
  display: flex;
  gap: 2rem;
}

.nav-menu a {
  color: var(--color-white);
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.nav-menu a:hover {
  color: var(--color-light);
}

/* Media queries */

@media screen and (max-width: 1023px) {
  .nav {
    padding: 1rem 2rem;
  }

  .nav-menu {
    gap: 1.5rem;
  }

  .nav-menu a {
    font-size: 1rem;
  }

  .nav-menu .logo {
    width: 4rem; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    padding: 0.8rem 1rem;
  }
  .nav .menu-icon{
    display: block;
  }
    

  .nav img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background: var(--color-bg);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 1rem 0;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu a {
    font-size: 1rem;
    padding: 0.5rem 0;
  }

  .nav-menu .logo {
    width: 3rem; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
  }
}

